{% extends 'models/showbase.html' %} {% block childstyle %}
<style>
    .activity-item {
        display:flex;
        justify-content: space-between;
        padding:0 20px;

    }
    .activity-list{
        background-color: rgb(218, 206, 206);

    }
    .activity-img {
        height:200px;
        filter: grayscale(100%);    
    }
    .activity-item:hover .activity-img{
        filter: grayscale(0);
    }
    .activity-item:hover{
        filter: grayscale(0);
        background-image: url('/public/images/bg.png');
    }
    .left{
        display: flex;
        justify-content: center;
        flex-direction: column;
        color: black;
    }
    .time{
        margin-bottom:10px;
    }
    .title{
        font-size: 2rem;
    }
@media only screen and (max-width:500px) {
    .activity-img {
        height:100px;
    }
    .title{
        font-size: 1.25rem;
    }
}
</style>
{% endblock %} {% block childmain %}
<div class="activity-wrap" id="activity">
    <ul class="activity-list">
        <li class="activity-item" v-for="(item,index)  in  activityList">
            <div class="left">
                <span class="time">${item.time}</span>
                <p class="title">${item.title}</p>
            </div>
            <img :src="item.imgUrl" class="activity-img" alt="">
        </li>
    </ul>
</div>
{% endblock %} {% block childjs %}
<script>
    var acitvity = new Vue({
        delimiters: ['${', '}'],
        el: '#activity',
        data: {
            activityList: [
                {
                    title: '解锋镝与你见面',
                    time: '3.6-5.4',
                    imgUrl: '/public/images/activity1.png'
                },
                {
                    title: '解锋镝与你见面',
                    time: '3.6-5.4',
                    imgUrl: '/public/images/activity1.png'
                },
                {
                    title: '解锋镝与你见面',
                    time: '3.6-5.4',
                    imgUrl: '/public/images/activity1.png'
                },
                {
                    title: '解锋镝与你见面',
                    time: '3.6-5.4',
                    imgUrl: '/public/images/activity1.png'
                },
                {
                    title: '解锋镝与你见面',
                    time: '3.6-5.4',
                    imgUrl: '/public/images/activity1.png'
                },
                {
                    title: '解锋镝与你见面',
                    time: '3.6-5.4',
                    imgUrl: '/public/images/activity1.png'
                },
            ]
        }
    })
</script> {% endblock %}