<!-- 一些资料产品展示通用的页面模板 -->
{% extends 'models/base.html' %} {% block style %}
<link href="/public/css/index.css" rel="stylesheet">
 {% endblock %} 
{% block main %}
<div id="slideshow" class="box">
    <div  class="slideshow-wrap" >
        <!-- 轮播图 -->
        <div class=" slide-item " @mouseover="stopPlay" @mouseout="autoPlay" v-bind:style="[{backgroundImage:'url('+imgList[imgList.length-1].url+')',height:getClientHeight()+'px',},transitionStyle]">
        </div>
        <div v-for="(item,index) in imgList" @mouseover="stopPlay" @mouseout="autoPlay" :key='index' class=" slide-item " v-bind:style="[{backgroundImage:'url('+item.url+')',height:getClientHeight()+'px',},transitionStyle]">
        </div>
        <div class=" slide-item " @mouseover="stopPlay" @mouseout="autoPlay" v-bind:style="[{backgroundImage:'url('+imgList[0].url+')',height:getClientHeight()+'px',},transitionStyle]">
        </div>
    </div>
     <!-- 控制轮播图左右移动 -->
     <div class="slide-button-wrap">
        <div class="number">
            <span class="currentindex">${currentIndex+1}</span>
            <span class="item-count">/${imgList.length}</span>
        </div>
        <div class="choise-button">
            <div class="left" @click="preMove">
            </div>
            <div class="right" @click="nextMove">
            </div>
        </div>
    </div>
    <!--轮播图信息  -->
    <div class="line-wrap">
        <div class="line-left bg-img" v-bind:class="{'hide': hide, 'left-move': !hide}">
            <a href="#">${imgList[currentIndex].leftContent}</a>
        </div>
        <div class="line-right bg-img" v-bind:class="{'hide': hide, 'right-move': !hide}">
            <a href="#">${imgList[currentIndex].rightContent}</a>
        </div>
    </div>
</div>

<!-- 展示新手入门标题信息导航 -->
<div id="container" class="container-wrap">
    <div class="container-top-wrap">
        <div class="container-top">
            <h3>新手入门</h3>
            <p>从这里，走近霹雳，<br> 了解霹雳，喜欢上霹雳。
            </p>
        </div>
    </div>
    <div class="container-show" >
        <ul class="container-list">
            <li class="container-item" :class="seleted(index)" v-for="(item,index) in  containerList" @mousemove="show(index)">
                <div class="number">${'0'+ (index+1)}</div>
                <div class="hd" v-show="index==currentIndex">
                    <p>
                        <span class="char" v-for="char in item.title">${char}</span>
                    </p>
                </div>
                <span>/</span>
                <div class="title">
                    <p>${item.title}</p>
                </div>
                <a href="#" v-bind:style="{backgroundImage:'url('+getBGImage(index)+')',}">
                    <img class="item-img" v-bind:src="item.imgUrl" alt="" v-show="index==currentIndex">
                </a>
                <span>/</span>
            </li>

        </ul>
    </div>
</div>

<!-- 展示重要新闻 -->
<div id="news" class="news-wrap">
    <div class="news-top-wrap">
        <div class="news-top">
            <h3>霹雳新闻</h3>
        </div>
    </div>
    <div class="news-show">
        <div class="left-wrap">
            <div class="left-top news-item">
                <a href="#">
                    <img src="../public/images/2.jpg" alt="">
                    <p>霹雳布袋戏走进东方卫视《喝彩中华》！霍尊、方芳、王佩瑜等嘉宾坐阵！</p>
                </a>
            </div>
            <div class="left-bottom news-item">
                <a href="#">
                    <img src="../public/images/69ab5d1bly1fzt2uveltij21400u0wva.jpg" alt="">
                    <p>广东卫视《木偶总动员》2月15日21:10！霹雳群侠齐上阵！</p>
                </a>
            </div>

        </div>
        <div class="right-wrap">
            <div class="right-top news-item">
                <a href="#">
                    <img src="../public/images/slide3.jpg" alt="">
                    <p>《刀说异数》每周三晚7点！bilibili独家播出！</p>
                </a>
            </div>
            <div class="right-bottom news-item">
                <a href="#">
                    <p>《霹雳英雄战纪之刀说异数》正式预告曝光！</p>
                </a>
            </div>
        </div>
        <div class="news-bottom-wrap" style="text-align:right">
            <a href="#">
                <p class="news-more">更多新闻</p>
            </a>
        </div>
    </div>
</div>
<!-- 霹雳剧集简介 导览 -->
<div class="reco-wrap">
    <div class="reco-top-wrap">
        <h3>霹雳剧集</h3>
    </div>

    <div class="reco-show" id="reco">
        <ul >
            <li class="reco-item"  :style="liStyle(index)" v-for="(item,index) in textList" :key="index">
                <div class="reco-img-wrap">
                    <a href="#">
                        <img class="reco-img" :style="imgStyle(index)" :src="item.imgUrl" alt="">
                    </a>
                </div>
                <div class="text" :style="{'display':isShow(index),}">
                    <p class="text-title">${item.title}</p>
                    <p class="text-content">${item.content}</p>
                </div>
            </li>
        </ul>
        <div class="contro">
            <div class="choise-button">
                <div class="left" @click="prePage">
                </div>
                <div class="right" @click="nextPage">
                </div>
            </div>
        </div>
    </div>

</div>

{% endblock %} {% block js %}
<script src="/public/js/index.js"></script>

<script>
    // Ajax.get('/data/slideshow', function (result) {
    //     var data = JSON.parse(result);
    //     for (var index in data.data) {
    //         slideshow.imgUrl.push(data.data[index])
    //     }
    // }
    // );
</script> {% endblock %}