{% extends 'models/showbase.html' %}

 {% block childstyle %}

{% endblock %}
 {% block childmain %}
<div class="shoop-wrap" id="shoop">
    <ul class="shoop-list">
        <li class="shoop-item" v-for="(item,index) in shoopList">
            <span class="title">${item.title}</span>
            <a :href="'/shoop/noe?title='+item.title" class="shoop-link"><img class="shoop-img" :src="item.imgUrl" alt=""></a>
        </li>
    </ul>
</div>

{% endblock %} {% block childjs %}
<script>
    var shoop = new Vue({
        delimiters: ['${', '}'],
        el: '#shoop',
        data: {
            shoopList: [
                { title: '御均衡', imgUrl: '/public/images/shoop1.png' },
                { title: '众天邪王', imgUrl: '/public/images/shoop2.png' },
                { title: '宫无后', imgUrl: '/public/images/shoop3.png' },
                { title: '原无乡', imgUrl: '/public/images/shoop4.png' },
                { title: '倦收天', imgUrl: '/public/images/shoop5.png' },
                { title: '暂时没有名字', imgUrl: '/public/images/shoop6.png' },
                { title: '系雪衣', imgUrl: '/public/images/shoop7.png' },
                { title: '乱世狂刀', imgUrl: '/public/images/shoop8.png' },
                { title: '凄城', imgUrl: '/public/images/shoop9.png' },
                { title: '伽蓝', imgUrl: '/public/images/shoop10.png' },
                { title: '暂时没有名字', imgUrl: '/public/images/shoop11.png' },
                { title: '云忘归', imgUrl: '/public/images/shoop12.png' },
            ],
            currentPage:0,
            maxPage:0,
        }
    })
</script> {% endblock %}
