{% extends 'models/showbase.html' %} {% block childstyle %}
<style>
    .shoop-wrap {
        width:1024px;
        margin:20px auto;
    }

    .shoop-wrap,
    .shoop-wrap a{
        color: black;
    }
    .shoop-list {
        display: flex;
        width:100%;
        flex-wrap: wrap;
    }
    .shoop-item{
        box-sizing: border-box;
        width:25%;
    }
    .shoop-link{
        width:90%;
        overflow:hidden;
    }
    .shoop-link:hover{
        color: #4e4e4e;
    }
    .shoop-img{
        width:100%;
        transition: all .3s ease-in-out;
    }
    .shoop-img:hover{
        transform: scale(1.10);
    }
    .price,.shoop-link{
        margin-bottom: 10px;
    }
    .price{
        color: #4e4e4e;
    }
</style>
{% endblock %} {% block childmain %}
<div class="shoop-wrap" id="shoop">
    <ul class="shoop-list">
        <li class="shoop-item" v-for="(item,index) in shoopList">
            <a href="#" class="shoop-link">
                <img :src="item.imgUrl" alt="" class="shoop-img">
            </a>
            <a href="#" class="shoop-link"> <h3>${item.title}</h3></a>
            <p class="price">价格：${item.price}元</p>
        </li>
    </ul>
</div>
{% endblock %} {% block childjs %}
<script>
    var shoops = new Vue({
        delimiters: ['${', '}'],
        el: '#shoop',
        data: {
            shoopList: [
                {
                    imgUrl: '/public/images/shoop1.jpg',
                    title: '商品名',
                    price: 0
                },
                {
                    imgUrl: '/public/images/shoop1.jpg',
                    title: '商品名',
                    price: 0
                },
                {
                    imgUrl: '/public/images/shoop1.jpg',
                    title: '商品名',
                    price: 0
                },
                {
                    imgUrl: '/public/images/shoop1.jpg',
                    title: '商品名',
                    price: 0
                },
                {
                    imgUrl: '/public/images/shoop1.jpg',
                    title: '商品名',
                    price: 0
                },
                {
                    imgUrl: '/public/images/shoop1.jpg',
                    title: '商品名',
                    price: 0
                },
                {
                    imgUrl: '/public/images/shoop1.jpg',
                    title: '商品名',
                    price: 0
                },
                {
                    imgUrl: '/public/images/shoop1.jpg',
                    title: '商品名',
                    price: 0
                },
                {
                    imgUrl: '/public/images/shoop1.jpg',
                    title: '商品名',
                    price: 0
                },
                {
                    imgUrl: '/public/images/shoop1.jpg',
                    title: '商品名',
                    price: 0
                },
                {
                    imgUrl: '/public/images/shoop1.jpg',
                    title: '商品名',
                    price: 0
                },
                {
                    imgUrl: '/public/images/shoop1.jpg',
                    title: '商品名',
                    price: 0
                },
                {
                    imgUrl: '/public/images/shoop1.jpg',
                    title: '商品名',
                    price: 0
                },
                {
                    imgUrl: '/public/images/shoop1.jpg',
                    title: '商品名',
                    price: 0
                },
                {
                    imgUrl: '/public/images/shoop1.jpg',
                    title: '商品名',
                    price: 0
                },
            ],
        }
    })

</script> {% endblock %}