
/* 轮播图 */

.box{
    width: 100%; 
    overflow: hidden;
}
.slideshow-wrap {
    width: 10000px;
}

.slide-item {
    float: left;
    width: 100vw;
    min-height: 400px;
    max-height: 760px;
    background: none no-repeat center;
    background-size: cover;
    transition: transform .8s ease-in-out;
    -webkit-transition: transform .8s ease-in-out;
    -moz-transition: transform .8s ease-in-out;
}

.slide-button-wrap {
    position: absolute;
    right: 60px;
    bottom: 60px;
}

.currentindex {
    font-size: 3rem;
}

.choise-button {
    display: flex;
    margin-top: 5px;
}

.choise-button>.left,
.choise-button>.right {
    position: relative;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    border: 2px solid white;
}

.left::after,
.right::after {
    content: '';
    position: absolute;
    display: inline-block;
    width: 0;
    height: 0;
    left: 2px;
    top: 9px;
    border: 10px solid white;
}

.left::after {
    border-color: transparent white transparent transparent;
}

.right::after {
    left: 15px;
    border-color: transparent transparent transparent white;
}

.left:hover,
.right:hover {
    cursor: pointer;
    background-color: white;
}

.left:hover::after {
    border-color: transparent black transparent transparent;
}

.right:hover::after {
    
    border-color: transparent transparent transparent black;
}

.line-wrap>.line-right,
.line-wrap>.line-left {
    position: absolute;
    width: 40%;
    max-width: 500px;
    min-width: 280px;
    transition: bottom .5s ease-in,
    left .5s ease-in,
    right .5s ease-in;
    -webkit-transition: bottom .5s ease-in,
    left .5s ease-in,
    right .5s ease-in;
    ;
    -moz-transition: bottom .5s ease-in,
    left .5s ease-in,
    right .5s ease-in;
    ;
}

.hide {
    bottom: 0;
    left: 0;
    opacity: 0;
}

.left-move {
    bottom: 205px;
    left: 46px
}

.right-move {
    bottom: 155px;
    right: 40px;
}

.line-left>a,
.line-right>a {
    height: 54px;
    line-height: 54px;
    white-space: nowrap;
    color: #0d0a26;
}

.line-left {
    padding-left: 2rem;
    text-align: left;    
    background-image: url('/public/images/line-left.png');
}

.line-right{
    text-align: center;  
    background-image: url('/public/images/line-right.png');
}



/* 展示新手入门标题信息导航 */
.container-wrap {
    position: relative; 
    min-height: 720px;
    padding: 20px;
     background-image: url('/public/images/container-top.png');
}

.container-top-wrap {
    overflow: hidden;
    margin-bottom: 30px;
}

.container-top {
    float: right;
}

.container-top>h3 {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 20px;
}

.container-top>p {
    line-height: 20px;
}

.container-show {
    width: 1000px;
    margin: 180px auto 0;
}

.container-show>ul {
    display: flex;
    border: 5px solid white;

}

.container-item {
    width: 16.6%;
    border-left: 5px solid white;
    transition: width .2s ease-in;
    -webkit-transition: width .2s ease-in;
    -moz-transition: width .2s ease-in;
}
.seleted{
    width: 33.3%;
}

.container-item:first-child {
    border-left: none;
}

.container-item {
    box-sizing: border-box;
    position: relative;
    text-align: center;
    font-size: 2.5em;
}

.container-item>.number {
    margin: 30px auto;
}

.container-item>span {
    display: inline-block;
    margin: 30px auto;
}

.container-item>.title {
    width: 72px;
    margin: 0 auto;
    border-left: 3px solid white;
    border-right: 3px solid white;
}

.container-item>.title>p {
    width: 2rem;
    font-size: 2rem;
    padding: 0 10px;
    margin: 0 auto;
    font-family: sans-serif;
    border-left: 2px solid white;
    border-right: 2px solid white;
}

.container-item>a {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
}

.container-item .item-img {
    position: absolute;
    width: 130%;
    height: 100%;
    left: -30%;
}

.container-item>.hd {
    position: absolute;
    top: -4em;
    right: 0;
    z-index: 10;
}

.hd>p {
    width: 5rem;
    font-size: 5rem;
}

.hd .char:nth-child(1),
.hd .char:nth-child(3) {
    display: inline-block;
    transform: translateX(-20px);
}



/* //新闻 */
.news-wrap {
    position: relative;
    background-image: url('/public/images/news_bg.png');

}

.news-top>h3 {
    text-align: right;
    color: #1e1352;
    font-size: 42px;
    padding: 30px 30px 20px 0;
}

.news-show {
    position: relative;
    width: 1000px;
    margin: 10px auto;
}

.news-show P {
    font-size: 22px;
    line-height: 37px;
    font-weight: bold;
    color: #1e1352;
}

.news-show>.left-wrap {
    width: 60%;
}

.news-show .news-item {
    box-sizing: border-box;
    width: 100%;
    padding: 10px;
    background-color: white;
    transition: transform .2s ease-in-out;
    -webkit-transition: transform .2s ease-in-out;
    -moz-transition: transform .2s ease-in-out;
}

.news-show .news-item img {
    width: 100%;
    max-height: 380px;
    transition: transform .2s ease-in-out;
    -webkit-transition: transform .2s ease-in-out;
    -moz-transition: transform .2s ease-in-out;
}

.news-show .news-item:hover img {
    transform: translateY(-10px);
}

.news-show .news-item:hover {
    transform: translateY(-10px);
}

.left-wrap>.left-bottom {
    width: 70%;
    margin-left: 30%;
    margin-top: 20px;
}

.news-show .right-wrap {
    position: absolute;
    width: 35%;
    right: 0;
    top: 0;
}

.right-wrap>.right-top {
    margin-top: 100px;
}

.right-wrap>.right-bottom {
    margin-top: 50px;
}

/* 剧情简介图 */
.reco-wrap {
    min-height: 700px;
    background-image: url('/public/images/bg.png');
}

.reco-top-wrap>h3 {
    text-align: right;
    color: #1e1352;
    font-size: 42px;
    padding: 30px 30px 20px 0;
}

.reco-show {
    position: relative;
    width: 800px;
    height: 700px;
    margin: 0 auto;
}

.reco-show .reco-item {
    display: flex;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    justify-content: space-between;
    width: 100%;
    margin: 0 auto;
}

.reco-img-wrap a {
    width: 340px;

}

.reco-img-wrap img {
    width: 100%;
    padding: 6px;
    background-color: white;

}

.reco-item .text {
    width: 340px;
   
}

.text>.text-title {
    font-size: 2.5rem;
    font-weight: bold;
}

.text>.text-content {
    text-indent: 2rem;
    font-size: 1rem;
    line-height: 2rem;
}

.reco-show>.contro {
    position: absolute;
    bottom: 150px;
    right: 10px;
    z-index: 10;
}


@media only screen and (max-width:1100px) {
    .container-show {
        width: 90%;
    }

}

@media only screen and (max-width:1030px) {
    .news-show,.reco-item {
        width: 100%;
    }
}

@media only screen and (max-width:850px) {
    .reco-show{
      width: 90%;
    }
    .container-show{
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .container-item {
        width: 33.3%;
    }
    .container-show>ul {
        flex-wrap: wrap;
    }
    .container-item:nth-child(4),
    .container-item:nth-child(5) {
        width: 50%;
        border-top: 5px solid white;
    }
    .container-item:nth-child(4) {
        border-left: none;
    }
   
    .container-item .item-img {
        height: auto;
        bottom:0;
    }
    .container-item>.hd{
        top:0;
    }
  

    .news-show>.left-wrap, .news-show .right-wrap {
        width: 90%;
        margin:0 auto;
    }
    .news-item,.left-wrap>.left-bottom{
        width: 100%;
        margin-left: 0;
    }
    .right-wrap>.right-bottom,
    .right-wrap>.right-top{
        margin-top:20px;
    }
    .news-show .right-wrap {
        position: static;
    }
    .reco-img-wrap a,.reco-item .text{
       width: 280px;
    }
    
}

@media only screen and (max-width:650px) {
    .reco-show{
        height: 1200px;
    }
    .reco-show .reco-item{
        display: block;
    }
    .reco-img-wrap a,.reco-item .text{
        width:100%;
    }
    .reco-item .text{
        margin-top:160px;
    }
    .reco-show>.contro{
        bottom: 275px;
        right:50px;
    }
   
}

@media only screen and (max-width:580px) {
    .line-left>a, .line-right>a{
        font-size: 0.75rem;
    }
    .left-move, .right-move  {
        left: 20px
    }
    .hd>p {
        width: 3rem;
        font-size: 3rem;
    }
    .news-show>.left-wrap, .news-show .right-wrap{
        width: 80%;
    }
    .text>.text-title {
        font-size: 1.5rem;
    }
    .container-item>.title>p {
        width: 1rem;
        font-size: 1rem;
    }
    .reco-show{
        height: 950px;
    }
    .container-item{
        font-size: 1rem;
    }
   
    .reco-show .reco-item{
        width:75%;
    }
    .reco-show>.contro{
        bottom:10px;
    }
    
}