<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{data.title}}</title>
    <link rel="shortcut icon" type="image/x-icon" href="/public/images/icon/favicon.png">
    <link href="/public/css/reset.css" rel="stylesheet">
    <link href="/public/css/base.css" rel="stylesheet"> {% block style %} {% endblock %}
</head>

<body>
    <!-- 头部导航栏和登陆 -->
    <header>
        <div class="header-wrap">
            <h1 class="header-logo">
                <a href="/" class="logo-link">霹雳布袋戏</a>
            </h1>
            <div class="header-nav-wrap">
                <nav class="header-nav ">
                    <div class="menu-button icon-menu" title="菜单"></div>
                    <ul class="nav-menu display-none">
                        <li class="menu-item"><a href="/">首页</a></li>
                        <li class="menu-item"><a href="/view/episode">霹雳剧集</a></li>
                        <li class="menu-item"><a href="#">霹雳周边</a>
                            <ul>
                                <li class="sub-menu-item"><a href="/view/shoop">霹雳商品馆</a></li>
                            </ul>
                        </li>
                        <li class="menu-item"><a href="#">霹雳资料库</a>
                            <ul>
                                <li class="sub-menu-item"><a href="/view/figure">霹雳人物</a></li>
                                <li class="sub-menu-item"><a href="/view/wallpaper">霹雳图库</a></li>
                                <li class="sub-menu-item"><a href="#">霹雳武器</a></li>
                                <li class="sub-menu-item"><a href="/view/music">霹雳音乐</a></li>
                            </ul>
                        </li>
                        <li class="menu-item"><a href="#">资讯中心</a>
                            <ul>
                                <li class="sub-menu-item"><a href="/view/activity">霹雳活动</a></li>
                                <li class="sub-menu-item"><a href="/view/press">霹雳新闻</a></li>
                            </ul>
                        </li>
                        <li class="menu-item"><a href="#">关于我们</a>
                            <ul>
                                <li class="sub-menu-item"><a href="#">了解我们</a></li>
                                <li class="sub-menu-item"><a href="#">霹雳文化</a></li>
                                <li class="sub-menu-item"><a href="#">霹雳大事件</a></li>
                                <li class="sub-menu-item"><a href="#">联系我们</a></li>
                            </ul>
                        </li>
                        <li class="menu-item"><a href="#">新手入门</a>
                            <ul>
                                <li class="sub-menu-item"><a href="#">霹雳世界</a></li>
                                <li class="sub-menu-item"><a href="#">霹雳人物</a></li>
                                <li class="sub-menu-item"><a href="#">霹雳音乐</a></li>
                                <li class="sub-menu-item"><a href="#">霹雳图库</a></li>
                            </ul>
                        </li>
                    </ul>
                </nav>
                <div class="login-box">
                    {% if user  %}
                    <div class="login"><a href="/user/logout">退出</a></div>                    
                    <div class="login"><a href="/user">{{user.username}}</a></div>                    
                    {% else%}
                    <div class="login"><a href="/user/login">登陆</a></div>
                    <div class="register"><a href="/user/register">注册</a></div>
                    {% endif %}
                </div>
            </div>

        </div>


    </header>
    {% block main %} {% endblock %}
    <!-- 网站底部 -->
    <footer class="footer">
        <div class="footer-wrap">
            <h1 class="footer-logo">
                <a href="#" class="logo-link">霹雳布袋戏</a>
            </h1>
            <nav class="footer-nav ">
                <ul class="nav-menu">
                    <li class="menu-item"><a href="#">霹雳周边</a>
                        <ul>
                            <li class="sub-menu-item"><a href="/data/shoop">霹雳商品馆</a></li>
                        </ul>
                    </li>
                    <li class="menu-item"><a href="#">霹雳资料库</a>
                        <ul>
                            <li class="sub-menu-item"><a href="/data/figure">霹雳人物</a></li>
                            <li class="sub-menu-item"><a href="/data/wallpaper">霹雳图库</a></li>
                            <li class="sub-menu-item"><a href="#">霹雳武器</a></li>
                            <li class="sub-menu-item"><a href="/data/music">霹雳音乐</a></li>
                        </ul>
                    </li>
                    <li class="menu-item"><a href="#">资讯中心</a>
                        <ul>
                            <li class="sub-menu-item"><a href="/data/activity">霹雳活动</a></li>
                            <li class="sub-menu-item"><a href="#">霹雳新闻</a></li>
                        </ul>
                    </li>
                    <li class="menu-item"><a href="#">关于我们</a>
                        <ul>
                            <li class="sub-menu-item"><a href="#">了解我们</a></li>
                            <li class="sub-menu-item"><a href="#">霹雳文化</a></li>
                            <li class="sub-menu-item"><a href="#">霹雳大事件</a></li>
                            <li class="sub-menu-item"><a href="#">联系我们</a></li>
                        </ul>
                    </li>
                    <li class="menu-item"><a href="#">新手入门</a>
                        <ul>
                            <li class="sub-menu-item"><a href="#">霹雳世界</a></li>
                            <li class="sub-menu-item"><a href="#">霹雳人物</a></li>
                            <li class="sub-menu-item"><a href="#">霹雳音乐</a></li>
                            <li class="sub-menu-item"><a href="#">霹雳图库</a></li>
                        </ul>
                    </li>
                </ul>
            </nav>
            <div class="concet">
                <div class="share">
                    <a href="#"></a>
                    <a href="#"></a>
                    <a href="#"></a>
                    <a href="#"></a>
                </div>
                <div class="addr">上海市徐汇区桂平路353号2号楼</div>
            </div>
        </div>

    </footer>
    <script>
        var clickCount = 0,
        menuButton = document.querySelector('.menu-button'),
        navMenu = document.querySelector('.nav-menu'),
        headerWrap = document.querySelector('.header-wrap');
        menuButton.addEventListener('click', function (event) {
            var target = event.target;
            clickCount++;
            if (clickCount % 2 == 1) {
                target.classList.remove("icon-menu");
                target.classList.add("icon-close");
                navMenu.classList.remove("display-none");
                navMenu.classList.add("display-block");
                headerWrap.classList.add("body-full");
            } else {
                target.classList.remove("icon-close");
                target.classList.add("icon-menu");
                navMenu.classList.remove("display-block");
                navMenu.classList.add("display-none");
                headerWrap.classList.remove("body-full");
            }

        });
    </script>
<script src="/public/js/vue.js"></script>
<script src="/public/js/public/base.js"></script>

    {% block js %} {% endblock %}
</body>

</html>